html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  background-color: #0b0c10;
}

.leftGroup {
  text-align: center;
  background-color: #0b0c10;
}

.titleText {
  color: #45a29e;
  padding-top: 50px;
}

.secondaryText {
  color: #c5c7c7;
  padding-top: 60px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonGroup {
  margin-top: 90px;
  margin-bottom: 50px;
  color: #c5c7c7;
}

.form {
  text-align: center;
  padding: 30px;
  background-color: #1f2833;
}

.has-error {
  background-color: red;
}
